<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/login.css' />

    </head>
    <body>
        <div>
            <form action="/login" method="post" class='login'>
            <input name='username' class='searchbox' type='text' placeholder="username" autofocus>
            <button class='btn' type='submit'>Login</button>
            </form>
        </div>
    </body>
</html>
